#main-container{
    display: flex;
}

#side-content{
       
        width: 30%
    }

    #photo-container{
        display: grid;
        width: 70%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 5px;

    }

