#main-container{
    display: flex;
}

#side-content{
       
        width: 30%
    }
    #side-content{
        width: 30%
    }

    #photo-container{
        width: 50%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    }


    header { background-color: darkgray;}
     h3 {background-color: darkgray;}

     footer{
        background-color: darkgray;
        text-align: center;
        padding: 10px;
     }